@media(max-width: 995px) {
    h1 {
        font-size: 64px !important;
    }

    h2 {
        font-size: 64px !important;
    }

    h3 {
        font-size: 36px !important;
    }

    h4 {
        font-size: 26px !important;
    }

    p {
        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 150% !important;
    }

    .main-banner-content p,
    .growth-section-content p,
    .no-fluff-content p,
    .proprietary-content,
    .testimonail-slider-box,
    .footer-content p {
        width: 100%;
    }

    .growth-section-content h3 {
        margin-bottom: 0px;
    }

    .why-us-image img {
        width: 100%;
    }

    .fluff-chart-content h5 {
        font-size: 36px;
    }

    .fluff-chart-content ul li {
        font-size: 16px;
    }

    .testimonial-text-box h6 {
        font-size: 20px;
    }

    .testimonial-text-box h5 {
        font-size: 28px;
        margin: 30px 0 0 0;
    }

    .main-banner-content h1 {
        margin-top: 0;
    }

    .main-growth-section {
        padding: 50px 0;
    }

    .why-us-card-image {
        height: 420px;
        min-height: 420px;
    }

    .why-us-card-content p {
        margin-top: 20px;
    }

    .growth-icon img {
        width: 60px;
    }

    .growth-card-content h3 {
        margin: 15px 0 10px 0;
    }

    .growth-card-box {
        padding: 25px;
    }
}

@media(max-width: 450px) {
    h1 {
        font-size: 42px !important;
    }

    h3 {
        font-size: 28px !important;
    }

    .main-banner-buttons {
        margin-bottom: 160px;
        flex-direction: column;
    }

    a.white-bg-button,
    a.transparent-bg-button {
        width: 100%;
        text-align: center;
    }

    .main-growth-section {
        border-radius: 50px 50px 0 0;
        padding-bottom: 0;
    }

    .growth-section-content p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .proprietary-card-box h5 {
        font-size: 22px;
    }

    .space-bottom-col-12 {
        margin-top: 20px !important;
    }

    .main-no-fluff-section {
        padding: 50px 0 140px 0;
    }

    .earth-image img {
        width: 250px;
    }

    .main-proprietary-section {
        border-radius: 50px 50px 0 0;
        padding: 60px 0 90px 0;
    }

    .main-testimonial-section {
        padding: 50px 0;
    }

    .main-footer-section {
        padding: 60px 0 40px 0;
    }

    .copy-right-button a i {
        padding: 0;
    }

    .copy-right-button a {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .footer-buttons {
        margin-bottom: 30px;
    }

    .testimonail-slider-box {
        height: 330px;
    }

    .fluff-chart-content h5 {
        font-size: 30px !important;
    }

    .copy-right-button a span {
        display: none;
    }
}